﻿/* BOOTSTRAP OVERRIDES */
.navbar-brand {
  padding: 5px 15px;
}

/* MAIN STYLES */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.5em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 2em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

