﻿@{
  ViewBag.Title = "About Us";
}

<div class="jumbotron alizarin">
  <h2>Hindu Council of Australia</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well wet-asphalt">
      <h3>Introduction</h3>
      <hr/>
      <p>
        The Hindu Council of Australia is an umbrella organisation for the purpose of bringing
        together various Hindu Associations for resounding a unified voice for all Australian Hindus,
        living in the multicultural community of Australia, irrespective of their caste or country of origin.
      </p>

      <p>
        The Council aims to have the responsibility to act as the representative of the Australian
        Hindu community in dealings with the federal, state and local governments, as well as other
        organisations and institutions.
      </p>

      <p>
        The Council regularly acts to assist and promote the activities of its member organisations,
        but it does not exercise control over the internal matters of any of its member organisations.
      </p>
    </div>
    <div class="well wet-asphalt">
      <h3>Our Mission and Objectives</h3>
      <hr />
      <p>
        Hindu Council’s mission is to work for a strong, cohesive and active Hindu community in Australia,
        aiming to live in harmony with other religious and cultural communities while also devoted to
        preserving, promoting and sharing Hindu Faith, Culture and Traditions with others in the society.
      </p>

      <h4>Objectives:</h4>

      <div class="ul-with-icons">
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Preserve, Promote and Share</strong> Hindu religion
          and culture in Australia.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Unite</strong> Hindu religious, cultural organizations
          and groups in Australia.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Represent</strong> the Hindu community in its dealings
          with the Australian Federal, State and Local Government bodies.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Expand and Strengthen</strong> links between Hindu
          organizations throughout the country by creating effective communication and collaborative networking.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Advocate</strong> for the religious, cultural, social
          and educational needs of Hindus.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Celebrate</strong> religious and cultural festivals,
          exhibitions and programs.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Educateand Support</strong> Hindu Youth in all aspects
          of their growth and empowerment.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Promote</strong> harmony and understanding between
          Hinduism and other religious traditions in Australia through inter-faith dialogue.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i><strong>Provide Information</strong> for understanding of Hindu
          traditions, culture, philosophy and theology in Australia.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well wet-asphalt">
      <h3>Our Team</h3>
      <hr />
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="2">Executive Committee</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row">
          <td>President</td>
          <td>Prof Nihal Singh Agar AM</td>
        </tr>
        <tr role="row">
          <td>Vice President</td>
          <td>
            Mr Bhagwat Singh Chauhan <br>
            Prof Raja Jayaraman <br>
            Mr Kanti Jinna
          </td>
        </tr>
        <tr role="row">
          <td>Secretary</td>
          <td>Mr Sanjeev Bhakri</td>
        </tr>
        <tr role="row">
          <td>Joint Secretary</td>
          <td>Mr Balesh Singh Dhankhar</td>
        </tr>
        <tr role="row">
          <td>Treasurer</td>
          <td>Mr Jay Raman</td>
        </tr>
        <tr role="row">
          <td>Joint Treasurer</td>
          <td>Mr Vikas Chopra</td>
        </tr>
        <tr role="row">
          <td>Members</td>
          <td>
            Ms Leah Briers<br>
            Mr Ajoy Ghosh<br>
            Mr Vijaykumar Halagali<br>
            Mrs Shareena Jadhav<br>
            Mr Bobby Kumar<br>
            Mr Maran Nandan<br>
            Mr Renga Ragan<br>
            Mr Sukhendra Shandil<br>
            Mrs Anita Bachan Sharma<br>
            Mr Radhey Sharma<br>
            Mr Rajan Sharma<br>
            Mr Suresh Vasishth
          </td>
        </tr>
        <tr role="row">
          <td>Directors</td>
          <td>
            Prof Nihal Singh Agar AM<br>
            Mr Abhay Awasthi<br>
            Dr A Balasubramaniam OAM<br>
            Mr Makarand Bhagwat<br>
            Mr Sanjeev Bhakri<br>
            Mr Bhagwat Singh Chauhan<br>
            Mr Surinder Jain<br>
            Mr Prakash Mehta<br>
            Mr Surendra Prasad<br>
            Mr Ashwini Sharma<br>
            Mr Vijai Singhal
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well wet-asphalt">
      <h3>Major Activities</h3>
      <hr/>
      <h4>Religious</h4>

      <div class="ul-with-icons">
        <div>
          <i class="fa fa-chevron-circle-right"></i>Organise regular meetings and forums like Youth Forum, Hindu
          Wisdom Forum, Women Forum, to discuss relevant issues including Hindu values and practices.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i>Celebrate Hindu religious festivals and cultural events
          such as Deepavali Fair (Festival of Lights) and Ganesh Puja.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i>Support religious and cultural activities of member organisations.
        </div>
      </div>

      <h4>Educational</h4>

      <div class="ul-with-icons">
        <div>
          <i class="fa fa-chevron-circle-right"></i>Involve in the effective presentation of Hindu educational
          programs in all states including NSW and Victoria.
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i>Work for social harmony and cohesion through organizing
          and also actively participating in inter-faith dialogue and community harmony day forums in many states in the country.
        </div>
      </div>

      <h4>Community</h4>

      <div class="ul-with-icons">
        <div>
          <i class="fa fa-chevron-circle-right"></i>Involve actively in many National advisory councils such as
          Australian Partnership of Religious Organizations (APRO), Federation of Ethnic Communities’ Councils of
          Australia (FECCA) and Australian Religious Response to Climate Change (ARRCC).
        </div>
        <div>
          <i class="fa fa-chevron-circle-right"></i>Represent Hindu member organisations in their dealings with
          federal government agencies on matters such as same sex marriage, enumeration of Hindus in the national
          census and responses to changes proposed in the Racial Discrimination Act of 1975
        </div>
      </div>
    </div>
  </div>
</div>