﻿@using SquishIt.Mvc
@using WebExtras.Core
@using Bundle = SquishIt.Framework.Bundle

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hindu Council of Australia (Victoria Chapter)">
  <meta name="author" content="Mihir Mone">
  <link rel="icon" type="image/x-icon" href="@Links.Content.hca_logo_ico" />
  <title>@ViewBag.Title - Hindu Council of Victoria</title>

  @Bundle.Css().MvcRenderCachedAssetTag(EContentBundle.CssMain.ToString())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(EContentBundle.Modernizer.ToString())

  <!--[if lt IE 9]>
    @Bundle.JavaScript().MvcRenderCachedAssetTag(EContentBundle.BelowIE9.ToString())
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action(MVC.Home.Index())"><img src="~/Content/hca-logo-header.png" class="img-responsive" alt="Hindu Council of Victoria" /></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="@Html.SelectedTab("Home", "Index")">@Html.ActionLink("Home", MVC.Home.Index())</li>
          <li class="@Html.SelectedTab("Home", "Membership")">@Html.ActionLink("Membership", MVC.Home.Membership())</li>
          <li class="dropdown @Html.SelectedTab("Hinduism")">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hinduism <i class="fa fa-angle-double-down"></i></a>
            <ul class="dropdown-menu">
              <li>@Html.ActionLink("Religion", MVC.Hinduism.Religion())</li>
              <li>@Html.ActionLink("Education", MVC.Hinduism.Education())</li>
              <li>@Html.ActionLink("Festivals", MVC.Hinduism.Festivals())</li>
              <li>@Html.ActionLink("More Information", MVC.Hinduism.MoreInformation())</li>
              <li>@Html.ActionLink("FAQs", MVC.Hinduism.Faq())</li>
            </ul>
          </li>
          <li><a href="#">Interfaith</a></li>
          <li class="@Html.SelectedTab("Home", "Education")">@Html.ActionLink("Education", MVC.Home.Education())</li>
          <li class="@Html.SelectedTab("About", "Index")">@Html.ActionLink("About Us", MVC.About.Index())</li>
        </ul>
      </div>
    </div>
  </header><!--/header-->
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>Copyright &copy; @DateTime.Now.Year - Hindu Council of Victoria</p>
    </footer>
  </div>

  @Bundle.JavaScript().MvcRenderCachedAssetTag(EContentBundle.JsMain.ToString())
  @RenderSection("scripts", required: false)
</body>
</html>
