﻿@{
  ViewBag.Title = "Hindu Education";
}

<div class="jumbotron emerald">
  <h2>Getting Educated</h2>
</div>

<div class="ul-with-icons">
  <div>
    <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu Academy", "http://www.hinduacademy.org", new { target = "_blank" })
  </div>
  <div>
    <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu University of America", "http://www.hua.edu", new { target = "_blank" })
  </div>
  <div>
    <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Himalayan Academy", "http://www.himalayanacademy.com", new { target = "_blank" })
  </div>
  <div>
    <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Sydney Sanskrit School", "http://www.sanskritschool.org", new { target = "_blank" })
  </div>
</div>

