﻿@{
  ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img src="~/Content/hca-logo.png" alt="Hindu Council of Victoria" class="img-responsive" />
  </div>
</div>



