﻿@{
  ViewBag.Title = "Membership";
}

<div class="jumbotron emerald">
  <h2>Becoming a HCA Member</h2>
</div>

<p>
  The Hindu Council membership is open only to registered, non-political and democratically
  constituted Hindu Organisations. Full membership is not open to individuals. The major field
  or activity or function of the member organisation should be spiritual, cultural or religious
  and predominantly related to the Sanatan Dharma – the eternal sustaining values of life
  including Vedic philosophy, doctrines of Karma and re-incarnation.
</p>

<hr />
<h4>Types of Memberships</h4>

<div class="ul-with-icons">
  <div>
    <i class="fa fa-chevron-circle-right"></i><strong>Organisation Member –</strong> is an approved organisation,
    which has been admitted to the membership of the Hindu Council and is represented by one or
    two duly authorised persons having one vote only for each organisation. Ordinary member shall
    have full rights and privileges attaching to the membership of the Council, including the
    right to have representative to attend and vote at meetings, to have representatives become a
    member of the national executive committee, State Branch executive committee and other
    committees or subcommittees, provided the ordinary member is a financial member.
  </div>
  <div>
    <i class="fa fa-chevron-circle-right"></i><strong>Ordinary Member –</strong> is an individual person who has
    been admitted to membership of the Council for a period of two years and who has the spiritual,
    religious or educational background, which the Directors of the Council believe will benefit
    the objects of the Council. Honorary member will be admitted without a fee. The Honorary
    member will be entitled to all privileges of membership of the Council, including rights to
    attend all meetings but will not be entitled to vote at such meetings and neither will they
    be entitled to become a member of the national executive or the State branch executive committee.
  </div>
</div>

<hr />
<h4>Membership Forms</h4>
<div class="ul-with-icons">
  <div>
    <i class="fa fa-chevron-circle-right"></i>Organisation Membership
  </div>
  <div>
    <i class="fa fa-chevron-circle-right"></i>Ordinary Membership
  </div>
</div>

<hr />
<h4>Member Organisations (30)</h4>

<div class="row">
  <div class="col-md-6">
    <div class="ul-with-icons">
      <div>
        <i class="fa fa-chevron-circle-right"></i> All World Gayatri Pariwar
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Arya Pratinidhi Sabha Austratalia
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        BAPS Pty Ltd (Shree Swaminarayan Mandir)
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Bhraham Vidhya, Stanwell Park, NSW
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Brahama Kumari Yoga Centre,Ashfield, NSW
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hare Krishna Temple, North Sydney, NSW
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Heritage Society
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Indian Arts & Cultural Association of Australia
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Sewa International (Aust) Inc
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Shri Shiva Mandir
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Shree Swaminarayan Temple Sydney (Under Nar Narayan Dev Bhuj Kutch)
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Sri Om Foundation
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Sri Venkateswara Temple Society
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Sydney Sri Ayyeppa Swami Centre
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Vishwa Hindu Parishad of Australia
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ul-with-icons">
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Ramcharitmanas Institute
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Veerashaiva Samaj
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Nepalese Hindu Society
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Association of Bhutanese Australia
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Shri Swaminarayan Temple
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Karphaga Vinayakar Temple
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Australian Hindu Multicultural Association Inc
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        The Melbourne Vanayagar Hindu Sangam
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Society of Victoria
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Shiva School of Meditation
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Ahlaya Sangam Queensland Inc, Middle Park, QLD
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Temple & Cultural Centre
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Society of South Australia
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Society of Northern Territory, Wulagi, NT
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i>
        Hindu Association of Western Australia (Inc), Winthrop, WA
      </div>
    </div>
  </div>
</div>

