﻿@{
  ViewBag.Title = "FAQs";
}

<div class="jumbotron emerald">
  <h2>FAQs</h2>
</div>

<div class="ul-with-icons">
  <div>
    <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Answers to some frequently asked questions", "http://www.dlshq.org/faq.htm", new { target = "_blank" })
  </div>
</div>