﻿@{
  ViewBag.Title = "Know our Festivals";
}

<div class="jumbotron emerald">
  <h2>Know Our Festivals</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Lohri</h4>
    <p>
      Lohri is one of the most zestful festivals of Punjab and always falls on 13th January.
      Lohri is essentially the festival of agriculturists. In January the weather is cold and
      what better way than to light the bonfire, which forms the essence and focal point of
      Lohri. The dancers perform Bhangra around fire. The boys and girls collect material for
      the bonfire from individual houses by singing special Lohri songs. Women apply Mehndi on
      their hands and feet. First Lohri for a newly wed bride is a very special occasion. She
      gets lots of presents. Similarly the first Lohri for a new – born child is also
      celebrated with all the family members showering lots of gifts for the baby and the mother.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Makar Sankranti</h4>
    <p>
      The festival of Makar Sankranti falls on 14th of January every year. This day is celebrated
      as a festival right from the times of the Aryans by the Hindus. This festival is celebrated
      differently in different parts of the country yet the use of til (sesame) is found everywhere.
      In Maharashtra people exchange multi-coloured tilguds and til-laddus made from til and
      jaggery. There is special significance of taking holy dip in Sangam – confluence of three
      rivers, Ganga, Jamuna and Saraswati.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Pongal</h4>
    <p>
      Pongal is the most important festival celebrated in Tamilnadu. This is a harvest festival
      honouring the sun god and the god of rain, Indra. Pongal is the thanks-giving for the plentiful
      paddy crop. The actual date for Pongal celebration is 14th January, same as Maha Sankranti.
      It lasts for four days.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>
      Basant Panchami
    </h4>
    <p>
      This is the celebration of the beginning of spring season. Saraswati, the goddess of
      learning is worshiped on this day. People wear new yellow coloured clothes. It is a very
      joyous festival. People in the north of India fly kites. A specialty of this day is sweet
      rice with almonds, cashews and resins.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Maha Shivaratri</h4>
    <p>
      Shivaratri is a very auspicious day, symbolising the wedding day of Lord Shiva and Parvati.
      The festival comes sometime in February or March. It is the most significant festival for
      Kashmiri Pandits. People in the North keep fast on Shivaratri day and go to the Shiva Temple
      to worship by pouring milk and water on the Shiva Linga.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Holi</h4>
    <p>
      The festival of Holi is celebrated in early March. Originally a festival to celebrate good
      harvests and fertility of the land, Holi is now a symbolic commemoration of a legend from
      Hindu Mythology. Bonfires are lit on street corners to cleanse the air of evil spirits and
      bad vibes, and to symbolise the destruction of the wicked Holika, for whom the festival was
      named. On the following day people throw coloured water and apply Gulal – coloured powder on
      forehead of people and embrace each other. It is very joyous festival. Although Holi is
      observed all over the north, it’s celebrated with special joy and zest at Mathura, Vrindavan,
      Nandgaon, and Banaras. These towns were the playground of Lord Krishna.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Ram Navami</h4>
    <p>
      Lord Rama was born on the ninth day of the Hindu month. Ram Navami is celebrated with religious
      fervour. On this day, people observe fast. Many devotees fast for nine days. On Ram Navami day,
      all the Ram temples are beautifully decorated. The idols of Lord Ram, Sita and Lakshman are
      adorned with new clothes, jewellery and flowers. Devotees visit various Ram temples and offer
      sweets, flowers and fruits.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Baisakhi</h4>
    <p>
      It falls on April 13, though once in 36 years it occurs on April 14th. The Sikhs celebrate this
      festival as a collective birthday of their tenth Guru, Guru Gobind Singh, who founded the Khalsa
      (the Sikh brotherhood) in 1699. Sikhs visits gurdwaras (Sikh temples) and listen to kirtans
      (religious songs) and discourses. After the prayer, kada prasad (sweetened semolina) is served
      to the congregations. The function ends with langar, the community lunch. Processions are taken
      out. Mock duets and bands playing religious tunes are part of the processions.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Teej</h4>
    <p>
      Teej is the fasting festival for women. The festival is a three-day long celebration that
      combines sumptuous feasts as well as rigid fasting. Through this religious fasting, Hindu women
      pray for marital bliss, well being of their spouses and children and purification of their own
      body and soul. Traditionally, the ritual of Teej is obligatory for all Hindu married women and
      girls who have reached puberty. Exception is made for the ones who are ill or physically unfit.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Raksha Bandhan</h4>
    <p>
      On this day sister ties Rakhi on her brother’s hand and puts a tilak on his forehead and the
      brother blesses the sister and gives her gifts as a token of love and affection.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Janam Asthami</h4>
    <p>
      Janam Ashthami is celebrated on the day Lord Krishna was born. People keep fast for the whole
      day and break their fast at midnight after doing the Puja, celebrating the birth of Lord Krishna.
      The image of the infant Krishna is bathed at midnight and is placed in a cradle. Devotional
      songs and dances mark the celebration of this festive occasion all over Northern India.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Ganesh Chaturthi</h4>
    <p>
      Ganesh Chaturthi This festival marks the birthday of Lord Ganesh, is one of the most popular
      deities. He is worshipped by both Shaivites and Vaishnavites. Even Buddhists and Jains have
      respect for Ganapati. On the day of the Chaturthi, thousands of processions converge on the
      beaches to immerse the holy idols in the sea accompanied by drum beats, devotional songs and dancing.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Onam</h4>
    <p>
      Onam is one of the greatest festivals of Kerala, celebrated unitedly without the differences
      of caste and religion. Onam is a celebration of ten days. It comes in the month of “Chingam”
      according to Malayalam calender. People put flower mats in front of their houses to welcome
      guests. They wear new dresses and visit temples and performing lot of dances like Thiruvathira
      kali and Thumbi Tullal. The most important thing is the grand lunch they will be having on the
      Thiuruvonam day which is also called the Fourth Onam.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Durga Puja</h4>
    <p>
      Durga Puja – Durga Puja or Navaratri is celebrated in the month of September – October. It
      lasts for nine days in honour of the nine manifestations of Durga. Many devotees of Durga
      observe fast for nine days. Durga Puja is celebrated to propitiate Shakti, the Goddess of
      Power, to bestow wealth, auspiciousness, prosperity, and knowledge. Durga Puja celebrates the
      victory of Durga over Mahishasura, the buffalo-headed demon.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Dussehra</h4>
    <p>
      Dussehra falls on the last day of Navaratri>. Dussehra literally means that which takes away
      ten sins. This Hindu festival is celebrated all over India to mark the defeat of Ravana by
      Lord Rama. Dussehra symbolises the triumph of good over evil. The ‘Ramlila’ – an enactment
      of the life of Lord Rama, is held during the nine days preceding Dussehra. On the tenth day,
      effigies of Ravana, his son and brother -Meghnath and Kumbhakarna, are set alight.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Karva Chauth</h4>
    <p>
      Karva Chauth – The most important aspect of this day is a dawn to dusk fast undertaken by
      the North Indian ladies. They break their fast only after seeing the moon, which comes out
      quite late on that day. They pray for the longevity and well-being of their husbands.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Diwali</h4>
    <p>
      Diwali – Diwali is by far the most glamorous and important Hindu festival. The first day of
      Diwali is Dhanteras. Doorways are hung with strings of mango leaves and marigolds. Rangolis
      are drawn with different coloured powders to welcome guests. Oil lamps are arranged in and
      around the house. Because of these flickering lamps, the festival has acquired its name
      Deepawali or Diwali meaning `a row of lamps’. On the dark new moon night, Lakshmi, the radiant
      consort of Vishnu and the goddess of wealth. is worshiped. The day after the Lakshmi Puja,
      most families celebrate the New Year by dressing n new clothes, wearing jewellery and visiting
      family members and business colleagues to give them sweets, dry fruits and gifts.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Bhai Dooj</h4>
    <p>
      Bhai Dooj comes every year on the fifth and last day of Diwali. Sisters put an auspicious
      tilak on the forehead of their brothers and perform an aarti of him. Sisters are lavished
      with gifts from their brothers.
    </p>
  </div>
</div>