﻿@{
  ViewBag.Title = "Some Informative Links";
}

<div class="jumbotron emerald">
  <h2>Some Informative Links</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="ul-with-icons">
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu Festivals till 2031", "http://www.hinduism.co.za/newpage3.htm", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Sacred Aum JPEG's Galore", "http://www.himalayanacademy.com/art/aumcd/jpg.html", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Temples in India", "http://www.indiantemples.com/index.html", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("The Bhagvad Gita", "http://www.iconsoftec.com/gita/", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("English - Sanskrit Dictionary", "http://sanskrit.gde.to/atul/newdict/main.html", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("BAPS Swaminarayan Sanstha", "http://www.swaminarayan.org/", new {target = "_blank"})
        <br/>
        Inspired by His Divine Holiness Pramukh Swami Maharaj
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Wikipedia", "http://en.wikipedia.org/wiki/Hinduism", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Authentic Hinduism Encyclopedia", "http://www.encyclopediaofauthentichinduism.org/", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Divine Life Society", "http://www.dlshq.org/home.html", new {target = "_blank"})
        <br/>
        Based on teachings and personality of @Html.Hyperlink("Swami Sivananda", "http://hinducouncil.com.au/encyclopedia/Swami-Sivananda", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu American Foundation", "http://www.hinduamericanfoundation.org/", new {target = "_blank"})
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("hinduism.co.za", "http://www.hinduism.co.za/", new {target = "_blank"})
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ul-with-icons">
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("hindu.org", "http://www.hindu.org/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("hindubooks.org", "http://www.hindubooks.org/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("hindunet.org", "http://www.hindunet.org/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu Poets", "http://www.poetseers.org/spiritual_and_devotional_poets/india/", new { target = "_blank" })
        <br/>
        A collection of Hindu poetry
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Hindu Students Council", "http://www.hscnet.org/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Himalayan Academy", "http://www.himalayanacademy.com/", new { target = "_blank" })
        <br/>
        A website from a deceased western convert and then teacher to Hinduism, specifivally <strong>Shaivism</strong>
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Religious Facts on Hinduism", "http://www.religionfacts.com/hinduism/contents.htm", new { target = "_blank" })
        <br/>
        Past facts, glossary, timeline and articles on Hinduism
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("True History & Religion of India", "http://thetruehistoryandthereligionofindia.org/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Vedas and Vedic Knowledge Online", "http://www.veda.harekrsna.cz/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("American Institute of Vedic Studies", "http://www.vedanet.com/", new { target = "_blank" })
      </div>
      <div>
        <i class="fa fa-chevron-circle-right"></i> @Html.Hyperlink("Vedanta", "http://www.vedanta.org/", new { target = "_blank" })
      </div>
    </div>
  </div>
</div>
