﻿@{
  ViewBag.Title = "The Hindu Religion";
}

<div class="jumbotron emerald">
  <h2>The Hindu Religion</h2>
</div>

<p>
  Hinduism is one of the world’s major religions and holds the distinction of being the most
  ancient of the world’s religions. It is the most tolerant and peace-loving religion. It is
  known as <strong>Sanatan Dharma (Eternal Religion)</strong>. Its origin is traced to the most ancient
  civilisation of the Indian sub-continent-the Indus civilisation. There are over a billion
  Hindus today. Most are in India, but Hindus live all over the world. Sizeable Hindu
  populations live in Nepal, Mauritius, Fiji, South Africa, Sri Lanka, Guyana, Indonesia,
  Australia, America, Canada, England, New Zealand and some other countries. Australian census
  2000 indicates that more than 100,000 Hindu families live in Australia? Hindu religion is
  rapidly growing in the country.
</p>

<hr/>
<h4>What is Hinduism?</h4>

<p>
  Is it a religion or a way of life? The truth is – it is both a religion and a way of life,
  a philosophy on life. Hinduism asks each one of us to search for the Divine within us. We
  are all divine and each one of us has the capacity to realise that divinity within us;
  therefore each one of us is a Hindu by birth. It is through ignorance, we do not know our
  divinity and commit crimes. Once we realise the truth behind our existence we become pure,
  ever peaceful, ever radiant with joy, happiness and bliss – <strong>
    Sat Chit Ananda (Truth,
    Consciousness and Bliss)
  </strong> – that is our true nature.
</p>
<p>
  Under the umbrella of Hinduism, today one finds numerous religious denominations promoting
  and practicing the Hindu philosophies throughout the world. India gave to the world the
  original, oldest and most profound philosophy of life. The brilliant scholars, called the
  Rishis explored the truth behind our existence and gave several philosophies and theories
  to define the Truth. The ultimate truth aims to reach <strong>Moksha</strong> when one goes beyond the cycle
  of birth and death. At the same time they created a set of rules for “good living” on this
  earth. That the Supreme Reality is One and can be worshiped in any form is a concept unique
  to Hinduism. Hinduism gives form and shape to these “works”of Infinite with the Hindu
  Trinity – Brahma, Vishnu and Shiva – “Brahma”, the creator, “Vishnu” the sustainer and
  “Shiva” the destroyer or the annihilator of the Universe.
</p>
<p>
  At different periods of time, many genuine <strong>Rishis, Saints and Sages</strong> born in India have
  cleansed, reformed and revitalised Hinduism and made it relevant to their times. The
  Saints and sages were called Rishis because they had realised the truth with their
  purified minds through <strong>Tapas</strong> – an intense, dedicated search through meditation and
  penance. A Sage or a Saint in the context of Hinduism, is one who has realised his true
  self or in other words has experienced the existence of God. The revealed divine truths
  are contained in the books called the Vedas. They are the primary Scriptures of <strong>
    Sanatan
    Dharma.
  </strong> The Vedas shaped the ancient Indian society and governed ethics and morality.
  The Vedas can be identified in terms of their origin into “Shruti” (what is heard or
  revealed) and “Smriti” (what is worth remembering). A Sage named Krishna Dvaipayana
  (Ved Vyas) recorded and documented them as Yajur Veda, which was the original Veda.
  Due to its voluminous content, it was classified into four categories: <strong>
    Yajur Veda,
    Rig Veda, Sama Veda and Atharva Veda.
  </strong>
</p>